Package: com.x.lookinloader
Name: LookinLoader
Depends: mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Lookin Loader, unofficial
Maintainer: developer
Author: developer
Section: Tweaks
